<!--begin welcome-->
<section class="welcome" style="background-image: url('img/bg_header.jpg')">
    <div class="container">
        <div class="welcome__title">
            <div class="line"></div>
            <h1 class="title">
                Welcome to free sports bets!
            </h1>
        </div>
        <div class="welcome__text">
            <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo?</p>
        </div>
        <div class="welcome__btn">
            <a class="btn_red" href="#/">Play now</a>
        </div>
    </div>
</section>
<!--end welcome-->
<!--begin category-->
<section class="category">
    <div class="category__wrapper category_wrap">
        <!--begin category item-->
        <a class="category_wrap__item category_item" style="background-image: url('img/img_soccer.jpg')">
            <div class="category_item__icon">
                <img src="img/icon_fotball.svg" alt="Fotball">
            </div>
            <div class="category_item__title">
                <div class="line_top"></div>
                <h3 class="title">Soccer</h3>
                <div class="line_bottom"></div>
            </div>
        </a>
        <!--begin category item-->
        <!--begin category item-->
        <a class="category_wrap__item category_item" style="background-image: url('img/img_baseball.jpg')">
            <div class="category_item__icon">
                <img src="img/icon_baseball.svg" alt="Baseball">
            </div>
            <div class="category_item__title">
                <div class="line_top"></div>
                <h3 class="title">Baseball</h3>
                <div class="line_bottom"></div>
            </div>
        </a>
        <!--begin category item-->
        <!--begin category item-->
        <a class="category_wrap__item category_item" style="background-image: url('img/img_basketball.jpg')">
            <div class="category_item__icon">
                <img src="img/icon_basketball.svg" alt="Basketball">
            </div>
            <div class="category_item__title">
                <div class="line_top"></div>
                <h3 class="title">Basketball</h3>
                <div class="line_bottom"></div>
            </div>
        </a>
        <!--begin category item-->
        <!--begin category item-->
        <a class="category_wrap__item category_item" style="background-image: url('img/img_golf.jpg')">
            <div class="category_item__icon">
                <img src="img/icon_golf.svg" alt="golf">
            </div>
            <div class="category_item__title">
                <div class="line_top"></div>
                <h3 class="title">Golf</h3>
                <div class="line_bottom"></div>
            </div>
        </a>
        <!--begin category item-->
    </div>
</section>
<!--end category-->
<!--begin affiliates-->
<section class="affiliates">
    <div class="affiliates__pseudo"></div>
    <div class="container">
        <div class="affiliates__title">
            <h2 class="title">
                Affiliates
            </h2>
            <img src="img/title_pseudo.svg" alt="Ball">
        </div>
        <div class="affiliates__list affiliates_list">
            <div class="affiliates_list__titles">
                <h3 class="title">Rank</h3>
                <h3 class="title">betting site</h3>
                <h3 class="title">bonus</h3>
                <h3 class="title">rating</h3>
                <h3 class="title">visit</h3>
            </div>
            <div class="affiliates_list__item affiliates_item">
                <!--begin affiliates item-->
                <div class="affiliates_item__number">
                    <span>1</span>
                </div>
                <div class="affiliates_item__logo">
                    <img src="img/logo_fanduel.jpg" alt="Fanduel">
                </div>
                <div class="affiliates_item__text">
                    <p><b>Up to 4 Free Entries</b></p>
                    <p>18/21 + to Play, T& Apply</p>
                </div>
                <div class="affiliates_item__rate">
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star-o" aria-hidden="true"></i>
                </div>
                <div class="affiliates_item__btn">
                    <a class="btn_red" href="#/">Play now</a>
                </div>
                <!--end affiliates item-->
            </div>
            <div class="affiliates_list__item affiliates_item">
                <!--begin affiliates item-->
                <div class="affiliates_item__number">
                    <span>2</span>
                </div>
                <div class="affiliates_item__logo">
                    <img src="img/logo_draft.jpg" alt="Draft Kings">
                </div>
                <div class="affiliates_item__text">
                    <p><b>Up to 4 Free Entries</b></p>
                    <p>18/21 + to Play, T& Apply</p>
                </div>
                <div class="affiliates_item__rate">
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star-o" aria-hidden="true"></i>
                </div>
                <div class="affiliates_item__btn">
                    <a class="btn_red" href="#/">Play now</a>
                </div>
                <!--end affiliates item-->
            </div>
            <div class="affiliates_list__item affiliates_item">
                <!--begin affiliates item-->
                <div class="affiliates_item__number">
                    <span>3</span>
                </div>
                <div class="affiliates_item__logo">
                    <img src="img/logo_twinspires.jpg" alt="Twinspires">
                </div>
                <div class="affiliates_item__text">
                    <p><b>Up to 4 Free Entries</b></p>
                    <p>18/21 + to Play, T& Apply</p>
                </div>
                <div class="affiliates_item__rate">
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star-o" aria-hidden="true"></i>
                </div>
                <div class="affiliates_item__btn">
                    <a class="btn_red" href="#/">Play now</a>
                </div>
                <!--end affiliates item-->
            </div>
            <div class="affiliates_list__item affiliates_item">
                <!--begin affiliates item-->
                <div class="affiliates_item__number">
                    <span>4</span>
                </div>
                <div class="affiliates_item__logo">
                    <img src="img/logo_betamerica.jpg" alt="Bet America">
                </div>
                <div class="affiliates_item__text">
                    <p><b>Up to 4 Free Entries</b></p>
                    <p>18/21 + to Play, T& Apply</p>
                </div>
                <div class="affiliates_item__rate">
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star-o" aria-hidden="true"></i>
                </div>
                <div class="affiliates_item__btn">
                    <a class="btn_red" href="#/">Play now</a>
                </div>
                <!--end affiliates item-->
            </div>
        </div>
    </div>
</section>
<!--end affiliates-->
<!--begin testimonials-->
<section class="testimonials" style="background-image: url('img/bg_testimonials.jpg')">
    <div class="container">
        <div class="testimonials__title">
            <h3 class="title">
                Testimonials
            </h3>
            <img src="img/title_pseudo.svg" alt="Ball">
        </div>
        <div class="swiper-container">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <div class="testimonials__text">
                        <p>Very easy and affordable to use, especially compared to other services...What REALLY impressed us was the phone call we received from your tech trainer in Austin, TX who was not just super-intelligent, but friendly and supportive.</p>
                    </div>
                    <div class="testimonials__icon">
                        <img src="img/img_testimonials.png" alt="Testimonials">
                    </div>
                    <div class="testimonials__name">
                        <h3 class="title">
                            Erica Johnson
                        </h3>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="testimonials__text">
                        <p>Very easy and affordable to use, especially compared to other services...What REALLY impressed us was the phone call we received from your tech trainer in Austin, TX who was not just super-intelligent, but friendly and supportive.</p>
                    </div>
                    <div class="testimonials__icon">
                        <img src="img/img_testimonials.png" alt="Testimonials">
                    </div>
                    <div class="testimonials__name">
                        <h3 class="title">
                            Erica Johnson
                        </h3>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="testimonials__text">
                        <p>Very easy and affordable to use, especially compared to other services...What REALLY impressed us was the phone call we received from your tech trainer in Austin, TX who was not just super-intelligent, but friendly and supportive.</p>
                    </div>
                    <div class="testimonials__icon">
                        <img src="img/img_testimonials.png" alt="Testimonials">
                    </div>
                    <div class="testimonials__name">
                        <h3 class="title">
                            Erica Johnson
                        </h3>
                    </div>
                </div>
            </div>
            <div class="">
                <div class="swiper-button-prev"><img src="img/slider_arrow.svg" alt="Arrow"></div>
                <div class="swiper-button-next"><img src="img/slider_arrow.svg" alt="Arrow"></div>
            </div>
        </div>
    </div>
</section>
<!--end testimonials-->
<!--begin questions-->
<section class="questions">
    <div class="container">
        <div class="questions__title">
            <h3 class="title">
                Do you have questions?
            </h3>
            <img src="img/title_pseudo.svg" alt="Ball">
        </div>
        <div class="questions__text">
            <p>We have provided that you will want to know more details before you start.
                That’s why we have collected here the most frequently asked questions. </p>
        </div>
        <div class="questions_wrap__tab questions_tab">
            <a id="all" href="#questions">All</a>
            <a id="finance" href="#questions">Finance</a>
            <a id="win" href="#questions">How to win</a>
            <a id="policy" href="#questions">Privacy Policy</a>
        </div>
        <div id="questions" class="questions__wrapper questions_wrap">
            <!--begin questions item-->
            <div class="all finance question_wrap__item question_item">
                <div class="question_item__open">
                    <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo?</p>
                </div>
                <div class="question_item__hidden">
                    <p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt.</p>
                </div>
                <div class="question_item__icon">
                </div>
            </div>
            <!--end questions item-->
            <!--begin questions item-->
            <div class="all finance question_wrap__item question_item">
                <div class="question_item__open">
                    <p>Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem?</p>
                </div>
                <div class="question_item__hidden">
                    <p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt.</p>
                </div>
                <div class="question_item__icon">
                </div>
            </div>
            <!--end questions item-->
            <!--begin questions item-->
            <div class="all win question_wrap__item question_item">
                <div class="question_item__open">
                    <p>Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? </p>
                </div>
                <div class="question_item__hidden">
                    <p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt.</p>
                </div>
                <div class="question_item__icon">
                </div>
            </div>
            <!--end questions item-->
            <!--begin questions item-->
            <div class="all policy question_wrap__item question_item">
                <div class="question_item__open">
                    <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident?</p>
                </div>
                <div class="question_item__hidden">
                    <p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt.</p>
                </div>
                <div class="question_item__icon">
                </div>
            </div>
            <!--end questions item-->
            <!--begin questions item-->
            <div class="all policy question_wrap__item question_item">
                <div class="question_item__open">
                    <p>Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus, omnis voluptas assumenda est, omnis dolor repellendus?</p>
                </div>
                <div class="question_item__hidden">
                    <p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt.</p>
                </div>
                <div class="question_item__icon">
                </div>
            </div>
            <!--end questions item-->
            <!--begin questions item-->
            <div class="all policy question_wrap__item question_item">
                <div class="question_item__open">
                    <p>Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur?</p>
                </div>
                <div class="question_item__hidden">
                    <p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt.</p>
                </div>
                <div class="question_item__icon">
                </div>
            </div>
            <!--end questions item-->
        </div>
    </div>
</section>
<!--end questions-->