<!--begin footer-->
<footer class="footer" style="background-image: url('img/bg_footer.jpg')">
    <div class="footer__pseudo"></div>
    <div class="container">
        <div class="footer__wrapper footer_wrap">
            <!--begin footer item-->
            <div class="footer_wrap__item footer_item">
                <div class="footer_item__nav">
                    <ul>
                        <li><a href="#/">About us</a></li>
                        <li><a href="#/">Categories</a></li>
                        <li><a href="#/">Affiliates</a></li>
                        <li><a href="#/">Testimonials</a></li>
                        <li><a href="#/">FAQ</a></li>
                    </ul>
                </div>
                <div class="footer_item__socials">
                    <ul>
                        <li><a href="#/"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#/"><i class="fa fa-instagram"></i></a></li>
                        <li><a href="#/"><i class="fa fa-google-plus"></i></a></li>
                        <li><a href="#/"><i class="fa fa-youtube-play"></i></a></li>
                    </ul>
                </div>
                <div class="footer_item__copyright">
                    <p>Copyright 2018. All Rights Reserved </p>
                </div>
            </div>
            <!--end footer item-->
            <!--begin footer item-->
            <div class="footer_wrap__item footer_item">
                <div class="footer_item__title">
                    <h3 class="title">
                        Stay in touch
                    </h3>
                </div>
                <div class="footer_item__form">
                    <form action="">
                        <input type="text" placeholder="Name">
                        <input type="email" placeholder="Mail">
                        <input type="submit" value="SIGN UP FOR OUR NEWSletter">
                    </form>
                </div>
            </div>
            <!--end footer item-->
        </div>
    </div>
</footer>
<!--end footer-->